*.vsidx
*.lock
PocketMedKitApp/.vs/PocketMedKitApp/v17/.futdcache.v2
PocketMedKitApp/.vs/ProjectEvaluation/pocketmedkitapp.metadata.v6.1
PocketMedKitApp/.vs/ProjectEvaluation/pocketmedkitapp.projects.v6.1
BLL/obj/
DAL/obj/
PocketMedKitApp/obj/
